@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital@1&display=swap');

body {
  background: rgb(224,159,137);
  background: linear-gradient(43deg, rgba(224,159,137,1) 0%, rgba(255,189,135,1) 50%, rgba(255,184,128,1) 100%);
  overflow-x: hidden;
  font-family: 'Montserrat', sans-serif;
}
#copyright{
  width: 100%;
  /* margin-left: 50%; */
  text-align: center;
}
#about{
  text-align: center;
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-style: bold;
  padding-top: 20px;
  color:white
}
#p{
  text-align: center;
  font-family: Georgia, 'Times New Roman', Times, serif;
  padding-top: 20px;
  color: white;
}
#contact{
  text-align: center;
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-style: bold;
  padding-top: 20px;
  color: white;
}
#aboutpage{
  background-image: url(https://i.pinimg.com/564x/71/f9/eb/71f9eb8ba33e1de57673b9cc40e7384d.jpg);
  background-size: cover;
  height: 90vh;
}
.logout-component{
  background-image: url(https://i.pinimg.com/564x/71/f9/eb/71f9eb8ba33e1de57673b9cc40e7384d.jpg);
  background-size: cover;
  height: 90vh;
  padding-top: 15%;
}
.login-component{
  background-image: url(https://i.pinimg.com/564x/71/f9/eb/71f9eb8ba33e1de57673b9cc40e7384d.jpg);
  background-size: cover;
  height: 90vh;
  padding-top: 20%;
}
#itemspage{
  margin-top: 7.2%;
}
#prof{
  margin-top: 10%;
  margin-bottom: 26%;
}
#footer{
  color: rgb(107, 107, 107);
  position: relative;
  height: 50px;
  margin-top: 10%;
  clear: both;
  text-align: center;
  padding-top: 15px;
}