body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow-x: hidden;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.brheader {
  font-size: 120px;
  padding-left: 30px;
  color: rgba(208, 116, 90, 0.6);
}

.pheader {
  font-size: 30px;
  padding-left: 30px;
  color: rgba(208, 116, 90, 0.9);
}

.hbutton {
  color: rgba(255, 255, 255, 0.7) !important;
  background-color: rgba(208, 116, 90, 0.6) !important;
  padding: 10px 20px !important;
  margin-left: 20px;
  border-radius: 10px !important;
  border: unset !important;
}

.hbutton:hover {
  color: rgba(255, 255, 255, 0.7);
  background-color: rgba(208, 116, 90, 0.9) !important;
  text-decoration: unset;
}

.color-nav {
  background-color: none;
  color: rgb(107, 107, 107) !important;
}

.color-nav:hover {
  color: rgb(214, 110, 79) !important;
}

.signMargin {

  background-color: rgb(255, 255, 255);
  border-radius: 10px;
  padding: 20px;
}

.formButton {
  color: rgba(255, 255, 255, 0.7) !important;
  background-color: rgba(208, 116, 90, 0.6) !important;
  padding: 5px 25px !important;
  border-radius: 10px !important;
  border: unset !important;
}

.formButton:hover {
  background-color: rgba(208, 116, 90, 0.9) !important;
}

.form-control div{
  border: unset;
}

#borderstyle {
  border: none;
  border-radius: 0;
}

.fixposition {
  position: relative;
  top: 330px !important;
  padding: 4.25rem !important;
}

#marginLeft {
  margin-left: -8%;
  margin-top: 4.5%;
}

.transition {
  transition: 0.3s cubic-bezier(0.3, 0, 0, 1.3);
}

.item_card {
  background-color: #fff;
  height: 370px;
  width: 250px;
  margin: auto;
  border-radius: 20px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);
  overflow: hidden;
}

.item_card:hover {
  box-shadow: 0px 30px 30px rgba(0, 0, 0, 0.2);
  height: 380px;
  width: 280px;
}

.card_circle {
  height: 400px;
  width: 350px;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  border-radius: 50%;
  margin-left: -17%;
  margin-top: -220%;
}

.item_card:hover .card_circle {
  border-radius: 0;
  margin-top: -95%;
}

h2 {
  text-align: center;
  margin-top: 90% !important;
  position: relative;
  z-index: 9999;
  font-size: 26px;
  color: rgb(214, 110, 79);
  width: 100%;
}

h2 small {
  font-weight: normal;
  font-size: 65%;
  color: rgba(0, 0, 0, 0.5);
}

.item_card:hover h2 {
  margin-top: 50% !important;
  color: #fff;
}

.item_card:hover h2 small {
  color: #fff;
}

.cta-container {
  text-align: center;
  margin-top: 0;
  position: relative;
  z-index: 9999;
  width: 100%;
}

.cta {
  color: #fff;
  background-color: rgba(208, 116, 90, 0.9);
  padding: 10px 25px;
  border-radius: 18px;
  font-size: 17px;
  text-decoration: none;
}

.cta:hover {
  color: #fff;
  text-decoration: none;
}

.item_card:hover .cta-container {
  margin-top: 0;
}

.comment {
  padding: 10px 0 10px 20px;
  margin-bottom: 20px;
  border: 1px solid rgb(196, 196, 196);
  border-radius: 15px;
}
.replay {
  background-color: rgb(240, 240, 240);
  margin-left: 50px;
  margin-right: -50px;
}

.authComment {
  background-color: rgb(226, 226, 226);
}

.textArea textarea {
  width: 100% !important;
}

.moreButton {
  color: rgba(255, 255, 255, 0.7);
  background-color: rgba(208, 116, 90, 0.6);
  padding: 10px 40px;
  border-radius: 10px;
  margin: 60px auto 0 auto;
  border: unset;
}
.moreButton:hover {
  color: rgba(255, 255, 255, 0.7);
  background-color: rgba(208, 116, 90, 0.9);
  text-decoration: unset;
}

.profileCards {
  margin: 0 4%;
  width: 100%;
}

.sectionTitles {
  text-align: center;
  margin: 12% auto 2% auto;
  color: rgb(107, 107, 107);
}

div.text-center {
  color: rgb(107, 107, 107);
  padding-top: 25%;
}

div h4 {
  font-size: 22px;
  font-weight: 700;
}

div p > span {
  font-size: 27px;
  font-weight: 700;
  background-color: rgba(251, 158, 21, 0.6);
  border-radius: 50%;
  padding: 2px 10px;
  margin-left: 85%;
}

div.backside{
  text-align: center;
  margin-top: 43%;
}
div.backside a{
  padding-right: 8%;
  padding-left: 8%;
}

div.backside a.linked-in{
  color: #0073b1;
  transition: font-size 0.5s;
}

div.backside a.linked-in:hover{
  color: #0090dd;
  font-size: 20px;
}

div.backside a.github{
  color: #fff;
  transition: font-size 0.5s;
}

div.backside a.github:hover{
  color: rgb(216, 216, 216);
  font-size: 20px;
}

.itemInfo{
  font-size: 17px;
  font-weight: 500;
  margin-top: 2px;
  margin-bottom: 2px;
}

.itemInfoGrid{
  display:grid;
  grid-template-columns: 1fr 1fr;
}